@use '@/styles/utils/functions' as fn;
@use '@/styles/variables' as *;

.bingo {
  margin-top: fn.vwMobile(70);
  padding: 0 fn.vwMobile(16);
  text-align: center;
}

.title {
  font-weight: 500;
  font-size: fn.vwMobile(28);
  line-height: fn.vwMobile(27);
}

.cards {
  margin-top: fn.vwMobile(20);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: fn.vwMobile(20);
}

.card {
  height: fn.vwMobile(200);
  overflow: hidden;
  color: $color-card-text;
}

.inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.card.flipped .inner {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  border-radius: fn.vwMobile(16);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  overflow: hidden;
}

.front {
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .frontText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: fn.vwMobile(22);
    line-height: fn.vwMobile(26);
    z-index: 2;
  }
}

.back {
  background-color: $color-card-bg;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  padding: fn.vwMobile(24);
  text-align: left;
  flex-direction: column;

  .backContent {
    height: 100%;
    overflow-y: auto;
  }

  p {
    font-weight: 400;
    font-size: fn.vwMobile(18);
    line-height: fn.vwMobile(21);
  }
}


@media (min-width: 768px) {
  .bingo {
    margin-top: fn.vwTablet(100);
    padding: 0 fn.vwTablet(32);
  }

  .title {
    font-size: fn.vwTablet(28);
    line-height: fn.vwTablet(27);
  }

  .cards {
    margin-top: fn.vwTablet(20);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: fn.vwTablet(20);
  }

  .card {
    height: fn.vwTablet(200);
  }

  .front,
  .back {
    border-radius: fn.vwTablet(16);
  }

  .front .frontText {
    font-size: fn.vwTablet(22);
    line-height: fn.vwTablet(26);
  }

  .back {
    padding: fn.vwTablet(24);
  
    p {
      font-size: fn.vwTablet(18);
      line-height: fn.vwTablet(21);
    }
  }
}


@media (min-width: 1440px) {
  .bingo {
    margin-top: fn.vw(145);
    padding: 0 fn.vw(32);
  }

  .title {
    font-size: fn.vw(42);
    line-height: fn.vw(40);
  }

  .cards {
    margin-top: fn.vw(40);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: fn.vw(20);
  }

  .card {
    height: fn.vw(240);
  }

  .front,
  .back {
    border-radius: fn.vw(16);
  }

  .front .frontText {
    font-size: fn.vw(30);
    line-height: fn.vw(32);
  }

  .back {
    padding: fn.vw(40) fn.vw(32);
  
    p {
      font-size: fn.vw(20);
      line-height: fn.vw(23);
    }
  }
}
