.bingo {
  padding: 5vw 0;
  text-align: center;
}

.title {
  font-size: 2vw;
  margin-bottom: 3vw;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
  justify-items: center;
}

.card {
  width: 20vw;
  height: 13vw;
  perspective: 100vw;
  cursor: pointer;
  position: relative;
}

.inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.card.flipped .inner {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1vw;
  backface-visibility: hidden;
  overflow: hidden;
}

.front {
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1vw;
  }

  .frontText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4vw;
    font-weight: 600;
    color: black;
    pointer-events: none;
  }
}

.back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vw;
  text-align: left;
  border-radius: 1vw;
  flex-direction: column;
  overflow: auto;

  .backContent {
    max-height: 100%;
    overflow-y: auto;
  }

  p {
    font-size: 1.1vw;
    line-height: 1.4;
  }
}
