.faq {
  padding: 5vw 0;
  width: 100%;
  text-align: center;
}

.title {
  font-size: 2.5vw;
  margin-bottom: 2vw;
}

.item {
  margin-bottom: 1vw;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid rgba(166, 171, 179, 1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5vw 2vw;
  cursor: pointer;
  font-size: 1.4vw;
  font-weight: 600;
}

.icon {
  transition: transform 0.3s ease;
  width: 1.3vw;
  height: 1.3vw;
}

.open {
  transform: rotate(180deg);
}

.body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 2vw;
}

.expanded {
  max-height: 10vw;
  padding: 1vw 2vw 2vw;
}

.body p {
  font-size: 1.1vw;
  line-height: 1.5;
  text-align: left;
}
