@use '@/styles/utils/functions' as fn;
@use '@/styles/variables' as *;

.faq {
  margin-top: fn.vwMobile(70);
  padding: 0 fn.vwMobile(16);
  text-align: left;
}

.title {
  font-weight: 500;
  font-size: fn.vwMobile(28);
  line-height: fn.vwMobile(27);
  margin-bottom: fn.vwMobile(20);
}

.item {
  min-height: fn.vwMobile(64);
  margin-bottom: fn.vwMobile(30);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  border-bottom: fn.vwMobile(1) solid $color-divider;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  font-size: fn.vwMobile(20);
  line-height: fn.vwMobile(24);
}

.span {
  width: fn.vwMobile(263);
}

.icon {
  transition: transform 0.3s ease;
  width: fn.vwMobile(24);
  height: fn.vwMobile(24);
}

.open {
  transform: rotate(180deg);
}

.body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.expanded {
  max-height: fn.vwMobile(150);
}

.body p {
  font-weight: 400;
  font-size: fn.vwMobile(18);
  line-height: fn.vwMobile(21);
  width: fn.vwMobile(319);
  margin: fn.vwMobile(14) 0 fn.vwMobile(25) 0;
}


@media (min-width: 768px) {
  .faq {
    margin-top: fn.vwTablet(100);
    padding: 0 fn.vwTablet(32);
  }

  .title {
    font-size: fn.vwTablet(28);
    line-height: fn.vwTablet(27);
    margin-bottom: fn.vwTablet(20);
  }

  .item {
    min-height: fn.vwTablet(64);
    padding-top: fn.vwTablet(24);
    margin-bottom: fn.vwTablet(30);
    border-bottom: fn.vwTablet(1) solid $color-divider;
  }

  .header {
    font-size: fn.vwTablet(20);
    line-height: fn.vwTablet(24);
  }

  .span {
    width: fn.vwTablet(576);
  }

  .icon {
    width: fn.vwTablet(24);
    height: fn.vwTablet(24);
  }

  .expanded {
    max-height: fn.vwTablet(150);
  }

  .body p {
    font-size: fn.vwTablet(18);
    line-height: fn.vwTablet(21);
    margin: fn.vwTablet(14) 0 fn.vwTablet(18) 0;
  }
}


@media (min-width: 1440px) {
  .faq {
    margin-top: fn.vw(145);
    padding: 0 fn.vw(32);
  }

  .title {
    font-size: fn.vw(42);
    line-height: fn.vw(40);
    margin-bottom: fn.vw(45);
    text-align: center;
  }

  .item {
    min-height: fn.vw(83);
    padding-top: fn.vw(24);
    margin-bottom: fn.vw(30);
    border-bottom: fn.vw(1) solid $color-divider;
  }

  .header {
    font-size: fn.vw(24);
    line-height: fn.vw(29);
  }

  .icon {
    width: fn.vw(24);
    height: fn.vw(24);
  }

  .expanded {
    max-height: fn.vw(150);
  }

  .body p {
    font-size: fn.vw(20);
    line-height: fn.vw(23);
    margin: fn.vw(26) 0 fn.vw(31) 0;
  }
}
