@use '@/styles/utils/functions' as fn;
@use '@/styles/variables' as *;

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 fn.vwMobile(16);
  gap: fn.vwMobile(20);
}

.illustration img {
    width: 100%;
  }

.text {
  display: grid;
  align-items: flex-start;
  gap: fn.vwMobile(30);

  h1 {
    font-weight: 500;
    font-size: fn.vwMobile(32);
    line-height: fn.vwMobile(30);
  }

  p {
    font-weight: 400;
    font-size: fn.vwMobile(18);
    line-height: fn.vwMobile(21);
  }
}


@media (min-width: 768px) {
  .content {
    position: relative;
    height: fn.vwTablet(494);
  }

  .text {
    order: 1;
    gap: fn.vwTablet(30);
    position: absolute;
    left: fn.vwTablet(32);
    top: fn.vwTablet(70);
  
    h1 {
      width: fn.vwTablet(440);
      font-size: fn.vwTablet(38);
      line-height: fn.vwTablet(36);
    }
  
    p {
      width: fn.vwTablet(440);
      font-size: fn.vwTablet(18);
      line-height: fn.vwTablet(21);
    }
  }

  .illustration {
    order: 2;
    position: absolute;
    width: fn.vwTablet(280);
    right: fn.vwTablet(32);
  }
}


@media (min-width: 1440px) {
  .content {
    flex-direction: row;
    height: fn.vw(686);
    padding: 0 fn.vw(32);
  }

  .text {
    order: 1;
    left: fn.vw(32);
    gap: fn.vw(30);
  
    h1 {
      width: fn.vw(605.73);
      font-size: fn.vw(54);
      line-height: fn.vw(51);
    }
  
    p {
      width: fn.vw(520.68);
      font-size: fn.vw(20);
      line-height: fn.vw(23);
    }
  }

  .illustration {
    order: 2;
    width: fn.vw(694);
    left: fn.vw(668);
  }
}
