@use '@/styles/utils/functions' as fn;
@use '@/styles/variables' as *;

.content {
  margin-top: fn.vwMobile(85);
  padding: 0 fn.vwMobile(16);
  text-align: center;
}

.title {
  font-weight: 500;
  font-size: fn.vwMobile(28);
  line-height: fn.vwMobile(27);
}

.image {
  height: fn.vwMobile(182);
  width: 100%;
  border-radius: fn.vwMobile(16);
  margin: fn.vwMobile(20) 0 fn.vwMobile(18) 0;
}

.caption {
  font-weight: 500;
  font-size: fn.vwMobile(22);
  line-height: fn.vwMobile(26);
}


@media (min-width: 768px) {
  .content {
    margin-top: fn.vwTablet(100);
    padding: 0 fn.vwTablet(32);
  }

  .title {
    font-size: fn.vwTablet(28);
  }

  .image {
    height: fn.vwTablet(374);
    border-radius: fn.vwTablet(16);
    margin: fn.vwTablet(20) 0 fn.vwTablet(18) 0;
  }

  .caption {
    width: fn.vwTablet(503);
    font-size: fn.vwTablet(22);
    line-height: fn.vwTablet(26);
    margin: 0 auto;
  }
}


@media (min-width: 1440px) {
  .content {
    margin-top: fn.vw(83);
    padding: 0 fn.vw(32);
  }

  .title {
    font-size: fn.vw(42);
  }

  .image {
    height: fn.vw(616);
    border-radius: fn.vw(16);
    margin: fn.vw(40) 0 fn.vw(32) 0;
  }

  .caption {
    font-size: fn.vw(30);
    line-height: fn.vw(32);
  }
}
