@use './variables' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(40, 40, 40);
  color: rgb(255, 255, 255);
  overflow-x: hidden;
  padding: 0 2vw;
}

@media (max-width: 767px) {
  body {
    padding: 0 1vh;
    width: fit-content;
  }
}
