@use '@/styles/variables' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: $color-bg;
  color: $color-text;
  overflow-x: hidden;
  overflow-y: scroll;
}
